<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kadibibas.limodim">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/back2"
        android:label="Limudim"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".User" />
        <activity android:name=".Open">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu" />
        <activity android:name=".TopTen" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".kesher"></activity>
    </application>

</manifest>